accelerate>=0.32.1
anndata>=0.9
datasets>=2.12
hyperopt>=0.2
loompy>=3.0
matplotlib>=3.7
numpy>=1.23
packaging>=23.0
pandas>=2.0
pyarrow>=12.0
pytz>=2023.0
ray>=2.6
scanpy>=1.9
scikit_learn>=1.2
scipy>=1.10
seaborn>=0.12
setuptools>=65.6
statsmodels>=0.14
tdigest>=0.5.2
torch>=1.13.1
torchvision>=0.14.1
tqdm>=4.65
transformers==4.30.0